/**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;
}

input {
  border: none;
  border-radius: 0 !important;
  -webkit-appearance: none;
  letter-spacing: 0.04rem;
  margin-right: -0.04rem;
  text-align: center;
  width: 27.5vw;
  height: 1.5rem;
  margin: 1.5rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.1rem;
  margin-right: -0.1rem;
  color: black;
}

button {
  text-decoration: none;
  background: none;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.65rem;
  color: skyblue;
  padding: 0.5rem 1rem;
  border-bottom: skyblue solid 1px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
  margin-right: -0.2rem;
  width: 100%;
  color: black;
  text-align: center;
  padding: 15px;
  flex-shrink: 0;
}

footer h6 {
  padding-bottom: 0.5rem;
}

img {
  width: 100px;
  height: auto;
  z-index: 2;
}

/**/
.main {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search-section {
  background: black;
  color: white;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.search-section h1 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  cursor: pointer;
}

.search-section span {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.search-section.show {
  opacity: 1;
  transition: all 1.5s ease-in-out;
}

.search-btn {
  text-decoration: none;
  background: none;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.65rem;
  color: skyblue;
  padding: 0.5rem 1rem;
  border-bottom: skyblue solid 1px;
  cursor: pointer;
}

.search-btn:hover,
.search-btn:focus {
  color: white;
  border-bottom: white solid 1px;
}

.results-section {
  font-size: 1.25rem;
  color: white;
  background: url("../images/World.png") no-repeat;
  width: 100%;
  height: 72.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

/**/
.results-section.rain {
  animation: rainy 0.3s linear infinite;
}

@keyframes rainy {
  0% {
    background-position: 0%, 0%;
  }
  100% {
    background-position: 80% 10%;
  }
}

/**/
.stars,
.twinkling {
  position: absolute;
  top: 27.5vh;
  left: 0;
  width: 100%;
  height: 72.5vh;
}

.stars {
  background: #000 url("../images/Stars_.png") repeat top center;
  z-index: -1;
}

.twinkling {
  background: transparent url("../images/Twinkling_.png") repeat top center;
  z-index: 0;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.location,
.result {
  letter-spacing: 0.25rem;
  margin-right: -0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location h1 {
  font-family: "IM Fell English SC", serif;
  letter-spacing: 0.35rem;
  margin-right: -0.35rem;
  margin-bottom: 2rem;
  z-index: 2;
}

.summary {
  z-index: 2;
}

.temperature {
  letter-spacing: 0.25rem;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.space {
  font-family: "IM Fell English SC", serif;
  font-size: 1.25rem;
  padding-left: 10px;
}

/**/
.clear .location h1,
.rain .location h1 {
  color: black;
}

.clear .temperature,
.clear .summary,
.rain .temperature,
.rain .summary {
  color: black;
}

.night .location h1 {
  color: white;
}

.night .temperature,
.night .summary {
  color: white;
}

.location h1 {
  letter-spacing: 0.35rem;
  margin-right: -0.35rem;
  margin-bottom: 2rem;
  z-index: 2;
}

.modal-modified,
.information {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin-right: -0.05rem;
  color: black;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 999;
  overflow: hidden;
}

.information {
  display: block;
  transform: translateY(-200%);
  transition: all 0.5s ease-in-out;
}

.information.display {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.modal-content-modified,
.information-content {
  background-color: #f4f4f4;
  width: 40%;
  margin: 20% auto;
  padding: 70px 50px;
}

.information-content {
  font-family: "Caveat", cursive;
  font-size: 0.75rem;
  background: white;
  width: 100%;
  height: 85%;
  margin: 5% auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  cursor: pointer;
}

.information-content h1 {
  margin-bottom: 50px;
}

.information-content p {
  font-family: "IM Fell English SC", serif;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.data {
  display: flex;
}

.today {
  padding-right: 7.5%;
}

.color {
  color: darkslateblue;
}

.close-btn {
  font-family: "Cinzel", serif;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin-right: -0.25rem;
  color: skyblue;
  float: right;
  cursor: pointer;
}

.close-btn:hover {
  color: black;
}

.close-btn-modified {
  width: 15px;
  height: 15px;
  background: darkred;
}

@media only screen and (max-width: 480px) {
  .main {
    flex-direction: column;
  }

  .search-section,
  .results-section {
    width: 100%;
    height: 50vh;
  }

  .search-section h1 {
    font-size: 0.75rem;
  }

  input {
    width: 70vw;
  }

  .search-btn {
    font-size: 0.5rem;
  }

  .location {
    font-size: 0.75rem;
  }

  .summary,
  .temperature,
  .space {
    font-size: 0.75rem;
  }

  .modal-content-modified {
    width: 70%;
    margin-top: 40%;
  }

  .stars,
  .twinkling {
    top: 50%;
    height: 50%;
  }

  @keyframes rainy {
    0% {
      background-position: 2000% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .data {
    flex-direction: column;
  }

  .information-content h1 {
    display: none;
  }

  .today p,
  .tomorrow p {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 850px) {
  .main {
    flex-direction: row;
  }

  .search-section {
    width: 45%;
    height: 100vh;
  }

  .results-section {
    width: 55%;
    height: 100vh;
  }

  .search-section h1 {
    font-size: 0.1rem;
  }

  input {
    width: 40vw;
  }

  .search-btn {
    font-size: 0.5rem;
  }

  .location {
    font-size: 0.75rem;
  }

  .summary,
  .temperature,
  .space {
    font-size: 0.85rem;
  }

  .modal-content-modified {
    margin-top: 10%;
    width: 60%;
  }

  .stars,
  .twinkling {
    top: 0;
    left: 45%;
    width: 55%;
    height: 100%;
  }

  @keyframes rainy {
    0% {
      background-position: 2000% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .information-content h1 {
    display: none;
  }

  .today p,
  .tomorrow p {
    font-size: 0.75rem;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .main {
    flex-direction: column;
  }

  .search-section,
  .results-section {
    width: 100%;
    height: 50vh;
  }

  .search-section h1 {
    font-size: 2rem;
  }

  input {
    width: 70vw;
  }

  .location {
    font-size: 1rem;
  }

  .modal-content-modified {
    margin-top: 20%;
  }

  .information-content h1 {
    font-size: 1rem;
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  @keyframes rainy {
    0% {
      background-position: 5% 1500%;
    }
    100% {
      background-position: 500% 0%;
    }
  }
}
